Repository ZaBrisket/Ledger.Lift: changes, and which pre-commit hooks are due for each by the changed paths.
All: coverage-check-api, coverage-check-worker, reliability-pattern-check

Path conditions:
  coverage-check-api: any of: ^apps/api/
  coverage-check-worker: any of: ^apps/worker/
  reliability-pattern-check: any of: \.(py)$

Refactor: Harden AWS, DB, and Uploads modules
  PR_HARDENING_PHASE1.md
  RELIABILITY_TESTING_PLAYBOOK.md
  apps/api/app/aws.py
  apps/api/app/db.py
  apps/api/app/main.py
  apps/api/app/routes/uploads.py
  apps/api/tests/test_aws_hardened.py
  apps/api/tests/test_db_hardened.py
  apps/api/tests/test_uploads_hardened.py
Due: coverage-check-api, reliability-pattern-check

Remove unused document listing endpoint and improve error handling
  apps/api/app/routes/__pycache__/documents.cpython-313.pyc
  apps/api/app/routes/documents.py
  apps/web/src/lib/api.ts
Due: coverage-check-api, reliability-pattern-check

Refactor: Implement cross-platform, thread-safe timeouts
  RELIABILITY_PLAYBOOK.md
  apps/worker/tests/__pycache__/test_timeout_cross_platform.cpython-313.pyc
  apps/worker/tests/test_timeout_cross_platform.py
  apps/worker/worker/__pycache__/__init__.cpython-313.pyc
  apps/worker/worker/__pycache__/database.cpython-313.pyc
  apps/worker/worker/__pycache__/services.cpython-313.pyc
  apps/worker/worker/services.py
  scripts/check_reliability_patterns.py
  scripts/test_cross_platform_timeout.py
  scripts/test_timeout_standalone.py
Due: coverage-check-worker, reliability-pattern-check

Fix: Improve API client error handling and env var access
  apps/web/src/lib/api.ts
Due: none

Improve code reliability and test quality (#6)
  .github/workflows/reliability-ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  RELIABILITY_PLAYBOOK.md
  apps/api/app/__pycache__/__init__.cpython-313.pyc
  apps/api/app/routes/__pycache__/documents.cpython-313.pyc
  apps/api/app/routes/__pycache__/uploads.cpython-313.pyc
  apps/api/app/routes/documents.py
  apps/api/app/routes/uploads.py
  apps/api/tests/__pycache__/test_health.cpython-313.pyc
  apps/api/tests/__pycache__/test_integration.cpython-313.pyc
  apps/api/tests/__pycache__/test_routes_enhanced.cpython-313.pyc
  apps/api/tests/test_routes_enhanced.py
  apps/web/src/lib/api.ts
  apps/worker/tests/__pycache__/test_timeout_cross_platform.cpython-313.pyc
  apps/worker/tests/__pycache__/test_worker_enhanced.cpython-313.pyc
  apps/worker/tests/test_timeout_cross_platform.py
  apps/worker/tests/test_worker_enhanced.py
  apps/worker/worker/__pycache__/__init__.cpython-313.pyc
  apps/worker/worker/__pycache__/database.cpython-313.pyc
  apps/worker/worker/__pycache__/services.cpython-313.pyc
  apps/worker/worker/aws_client.py
  apps/worker/worker/services.py
  scripts/check_reliability_patterns.py
  scripts/test_cross_platform_timeout.py
  scripts/test_timeout_standalone.py
Due: coverage-check-api, coverage-check-worker, reliability-pattern-check

feat: Implement chunked uploads, Excel export, and monitoring
  apps/api/app/main.py
  apps/api/app/metrics.py
  apps/api/app/middleware.py
  apps/api/app/routes/documents.py
  apps/api/app/routes/processing.py
  apps/api/app/routes/uploads.py
  apps/api/app/services.py
  apps/api/migrations/versions/add_performance_indexes.py
  apps/api/pyproject.toml
  apps/web/package.json
  apps/web/src/components/ChunkedUpload.tsx
  apps/web/src/lib/chunkedUpload.ts
  apps/web/src/lib/useChunkedUpload.ts
  apps/worker/pyproject.toml
  apps/worker/worker/celery_cli.py
  apps/worker/worker/cli.py
  apps/worker/worker/database.py
  apps/worker/worker/pipeline/extract.py
  apps/worker/worker/services.py
  apps/worker/worker/tasks.py
  docker-compose.monitoring.yml
  monitoring/prometheus.yml
Due: coverage-check-api, coverage-check-worker, reliability-pattern-check

feat: Add @mui/icons-material dependency
  apps/web/package.json
Due: none

Re-export chunked upload types for external use
  apps/web/src/lib/useChunkedUpload.ts
Due: none

Refactor: Rename throttleProgressCallbacks to throttleProgressCallbacksInterval
  apps/web/src/lib/chunkedUpload.ts
Due: none

fix(web): correct resumable option name
  apps/web/src/lib/chunkedUpload.ts
  apps/web/src/types/resumablejs.d.ts
Due: none

Add files via upload
  CHANGELOG.md
  PULL_REQUEST_BODY.md
  README.md
  apps/web/app/convert/page.tsx
  apps/web/app/nav-instructions.md
  apps/web/e2e/convert.spec.ts
  apps/web/src/components/NavAppendix.tsx
  apps/web/src/components/UploadPanel.tsx
  docs/ops.md
  netlify.toml
  netlify/functions/get-job-status.ts
  netlify/functions/healthz.ts
  netlify/functions/ingest-pdf.ts
  netlify/functions/initiate-upload.ts
  netlify/functions/parse-and-extract-background.ts
  package.json
  playwright.config.ts
  src/config/env.ts
  src/lib/excel/exporter.ts
  src/lib/http/fetchSafe.ts
  src/lib/http/httpUtils.ts
  src/lib/jobs/model.ts
  src/lib/jobs/repo.ts
  src/lib/pdf/ocr.ts
  src/lib/pdf/reader.ts
  src/lib/pdf/schedules.ts
  src/lib/pdf/tables.ts
  src/lib/storage/s3.ts
  tests/integration/pdf-to-excel.spec.ts
  tests/unit/excel.spec.ts
  tests/unit/ocr.spec.ts
  tests/unit/tables.spec.ts
  vitest.config.ts
Due: none

Add environment configuration scaffolding
  .env.example
  src/config/env.ts
Due: none

fix: harden uploads with multipart limits
  .env.example
  apps/web/app/page.tsx
  apps/web/src/components/UploadPanel.tsx
  apps/web/src/lib/hash.ts
  apps/web/src/lib/uploads.ts
  apps/web/src/pages/convert.tsx
  netlify.toml
  netlify/functions/_storage.ts
  netlify/functions/_utils.ts
  netlify/functions/complete-multipart.ts
  netlify/functions/get-job-status.ts
  netlify/functions/healthz.ts
  netlify/functions/ingest-pdf.ts
  netlify/functions/initiate-upload.ts
  package.json
  src/config/env.ts
  tests/cors.test.ts
  tests/env.test.ts
  tests/etag-normalization.test.ts
  tests/helpers.ts
  tests/initiate-upload.test.ts
  tests/multipart-limits.test.ts
  tests/multipart.integration.test.ts
  tsconfig.json
  types/aws-sdk.d.ts
  vitest.config.ts
Due: none

fix: harden upload checksum handling
  apps/web/src/components/UploadPanel.tsx
  apps/web/src/lib/hash.ts
  netlify/functions/initiate-upload.ts
  tests/client-upload-utils.test.ts
  tests/cors.test.ts
  tests/initiate-upload.test.ts
  tests/multipart-limits.test.ts
  tests/multipart.integration.test.ts
Due: none

chore: add repo gitignore
  .gitignore
Due: none

fix: restore valid root package scripts
  package.json
Due: none

fix: ensure root package scripts are valid json
  package.json
Due: none

fix: resolve package.json duplicates
  package.json
Due: none

fix: declare supported toolchain
  package.json
Due: none

Enable downlevel iteration for hash computation
  apps/web/src/lib/hash.ts
  apps/web/tsconfig.json
  tsconfig.json
Due: none

Enable downlevel iteration for Uint8Array loops
  apps/web/tsconfig.json
  tsconfig.json
Due: none

feat: integrate redis rq queueing
  apps/api/app/__pycache__/__init__.cpython-313.pyc
  apps/api/app/__pycache__/aws.cpython-313.pyc
  apps/api/app/__pycache__/db.cpython-313.pyc
  apps/api/app/__pycache__/main.cpython-313.pyc
  apps/api/app/__pycache__/models.cpython-313.pyc
  apps/api/app/__pycache__/services.cpython-313.pyc
  apps/api/app/__pycache__/settings.cpython-313.pyc
  apps/api/app/main.py
  apps/api/app/routes/__pycache__/documents.cpython-313.pyc
  apps/api/app/routes/__pycache__/health.cpython-313.pyc
  apps/api/app/routes/__pycache__/uploads.cpython-313.pyc
  apps/api/app/routes/processing.py
  apps/api/config.py
  apps/api/infra/__init__.py
  apps/api/infra/redis.py
  apps/api/metrics.py
  apps/api/pyproject.toml
  apps/api/tests/__pycache__/test_health.cpython-313.pyc
  apps/api/tests/__pycache__/test_integration.cpython-313-pytest-8.4.2.pyc
  apps/api/tests/__pycache__/test_integration.cpython-313.pyc
  apps/api/tests/__pycache__/test_routes_enhanced.cpython-313.pyc
  apps/api/tests/test_queue.py
  apps/worker/config.py
  apps/worker/infra/__init__.py
  apps/worker/infra/redis.py
  apps/worker/metrics.py
  apps/worker/pyproject.toml
  apps/worker/queues.py
  apps/worker/tests/__pycache__/test_timeout_cross_platform.cpython-313.pyc
  apps/worker/tests/__pycache__/test_worker_enhanced.cpython-313.pyc
  apps/worker/tests/test_queue.py
  apps/worker/worker/__pycache__/__init__.cpython-313.pyc
  apps/worker/worker/__pycache__/database.cpython-313.pyc
  apps/worker/worker/__pycache__/services.cpython-313.pyc
  apps/worker/worker/cli.py
  apps/worker/worker/metrics_server.py
  apps/worker/worker/rq_jobs.py
  docs/ops.md
Due: coverage-check-api, coverage-check-worker, reliability-pattern-check

feat: introduce durable rq queues and metrics
  apps/api/app/jobs.py
  apps/api/app/main.py
  apps/api/app/progress.py
  apps/api/app/routes/processing.py
  apps/api/config.py
  apps/api/infra/__init__.py
  apps/api/infra/redis.py
  apps/api/metrics.py
  apps/api/pyproject.toml
  apps/api/tests/test_queue.py
  apps/worker/config.py
  apps/worker/infra/__init__.py
  apps/worker/infra/redis.py
  apps/worker/metrics.py
  apps/worker/pyproject.toml
  apps/worker/queues.py
  apps/worker/tests/test_queue.py
  apps/worker/worker/jobs.py
  docs/ops.md
Due: coverage-check-api, coverage-check-worker, reliability-pattern-check

Add worker metrics ASGI endpoint
  apps/worker/metrics_server.py
  apps/worker/tests/test_metrics_server.py
  docs/ops.md
Due: coverage-check-worker, reliability-pattern-check

Add worker queue metrics wiring and monitor endpoint
  apps/worker/queues.py
  apps/worker/server.py
  apps/worker/tests/test_queue.py
Due: coverage-check-worker, reliability-pattern-check

Implement API queue durability interfaces
  apps/api/app/jobs.py
  apps/api/app/main.py
  apps/api/app/routes/processing.py
  apps/api/infra/redis.py
  apps/api/metrics.py
  apps/api/tests/test_queue.py
  apps/worker/config.py
  apps/worker/infra/redis.py
Due: coverage-check-api, coverage-check-worker, reliability-pattern-check

fix(upload): T0+T0.1 surgical hardening — ETag normalize, streaming SHA-256, deploy config
  .env.example
  apps/web/src/components/UploadPanel.tsx
  apps/web/src/lib/hash.ts
  docs/deploy/netlify.md
  netlify.toml
  tests/client-upload-utils.test.ts
  tests/multipart-limits.test.ts
Due: none

fix(upload): T0+T0.1 surgical hardening — ETag normalize, streaming SHA-256, deploy config
  .env.example
  apps/web/src/components/UploadPanel.tsx
  docs/deploy/netlify.md
  tests/client-upload-utils.test.ts
  tests/multipart-limits.test.ts
Due: none

test: cover cas normalization fallbacks
  apps/api/app/main.py
  apps/api/app/models.py
  apps/api/app/progress.py
  apps/api/app/routes/jobs_events.py
  apps/api/app/routes/processing.py
  apps/api/config.py
  apps/api/services/__init__.py
  apps/api/services/progress_pubsub.py
  apps/api/tests/test_sse.py
  apps/worker/config.py
  apps/worker/financial/__init__.py
  apps/worker/financial/detector.py
  apps/worker/services/__init__.py
  apps/worker/services/cas.py
  apps/worker/tests/fixtures/financial_tables.json
  apps/worker/tests/test_cas.py
  apps/worker/tests/test_detector.py
  apps/worker/worker/database.py
  apps/worker/worker/services.py
  assets/models/.keep
  docs/architecture.md
Due: coverage-check-api, coverage-check-worker, reliability-pattern-check

Harden pHash dependencies and ops dashboard gating
  .env.example
  apps/api/app/main.py
  apps/api/app/routes/ops.py
  apps/api/config.py
  apps/api/migrations/versions/20240905_add_document_hash_columns.py
  apps/api/tests/test_ops.py
  apps/web/src/lib/api.ts
  apps/web/src/pages/ops/queues.tsx
  apps/worker/config.py
  apps/worker/pyproject.toml
  apps/worker/services/__init__.py
  apps/worker/services/cas_phash.py
  apps/worker/tests/test_cas_phash.py
  apps/worker/worker/pipeline/extract.py
  apps/worker/worker/services.py
Due: coverage-check-api, coverage-check-worker, reliability-pattern-check

feat(worker): add OCR provider abstraction with rate limiting
  .env.example
  apps/worker/config.py
  apps/worker/ocr/__init__.py
  apps/worker/ocr/aws_textract.py
  apps/worker/ocr/azure_layout.py
  apps/worker/ocr/rate_limit.py
  apps/worker/ocr/tesseract_local.py
  apps/worker/pyproject.toml
  apps/worker/tests/test_ocr_limits.py
  apps/worker/worker/services.py
Due: coverage-check-worker, reliability-pattern-check

fix(worker): harden ocr provider setup
  apps/worker/ocr/__init__.py
  apps/worker/ocr/aws_textract.py
  apps/worker/ocr/azure_layout.py
  apps/worker/pyproject.toml
Due: coverage-check-worker, reliability-pattern-check

Handle missing client env vars in function config
  src/config/env.ts
  tests/env.test.ts
Due: none

Handle missing NEXT_PUBLIC_PDF_MAX_MB in env
  src/config/env.ts
  tests/env.test.ts
Due: none

Allow functions to run without NEXT_PUBLIC_PDF_MAX_MB
  src/config/env.ts
  tests/env.test.ts
Due: none

Fix R2 uploads by disabling path-style requests
  netlify/functions/_storage.ts
  tests/storage.test.ts
Due: none

feat: add numeric validation and review tooling
  .env.example
  apps/web/src/pages/review/[jobId].tsx
  apps/web/tests/test_review_page.spec.ts
  apps/worker/config.py
  apps/worker/financial/validators.py
  apps/worker/ocr/__init__.py
  apps/worker/ocr/select.py
  apps/worker/tests/test_ocr_select.py
  apps/worker/tests/test_validators.py
  vitest.config.ts
Due: coverage-check-worker, reliability-pattern-check

feat: add numeric validation and review ui
  .env.example
  apps/web/src/pages/review/[jobId].tsx
  apps/web/tests/test_review_page.spec.ts
  apps/worker/config.py
  apps/worker/financial/__init__.py
  apps/worker/financial/validators.py
  apps/worker/ocr/__init__.py
  apps/worker/ocr/select.py
  apps/worker/tests/test_validators.py
  vitest.config.ts
Due: coverage-check-worker, reliability-pattern-check

Harden OCR selection and review thresholds
  .env.example
  apps/web/src/pages/review/[jobId].tsx
  apps/web/tests/test_review_page.spec.ts
  apps/worker/financial/validators.py
  apps/worker/ocr/__init__.py
  apps/worker/ocr/select.py
  apps/worker/tests/test_ocr_select.py
  apps/worker/tests/test_validators.py
Due: coverage-check-worker, reliability-pattern-check

Tighten OCR budget defaults and fallback logging
  .env.example
  apps/worker/config.py
  apps/worker/ocr/select.py
Due: coverage-check-worker, reliability-pattern-check
